.header {
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__logo {
  height: auto;
  vertical-align: -5px;
  width: 70px;
}

.header__input {
  display: none;
}

.header__menu {
  display: none;
}

.header__hamburger {
  background-color: #f2f4f4;
  cursor: pointer;
  height: 3px;
  position: relative;
  width: 30px;
}

.header__hamburger::after {
  content: '';
  background-color: #f2f4f4;
  height: 3px;
  position: absolute;
  transform: translateY(-10px);
  width: 30px;
}

.header__hamburger::before {
  content: '';
  background-color: #f2f4f4;
  height: 3px;
  position: absolute;
  transform: translateY(10px);
  width: 30px;
}

.button--header {
  display: none;
}

.hero {
  background-image: url(../../../images/banner/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.hero__header {
  padding: 20px;
  color: #f2f4f4;
}

.hero__title {
  font-weight: 300;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.hero__paragraph {
  font-size: 12px;
}

.hero__image {
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
  width: 80vw;
}

.hero__phone-img {
  display: block;
  margin: 0 auto;
  max-width: 360px;
  width: 100%;
}

.app-items__list {
  text-align: center;
}

.app-items__item {
  padding: 20px 0;
}

.app-items__img-container {
  border-radius: 5px;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}

.app-items__img-container--blue {
  background: linear-gradient(45deg, #0885f6 5%, rgba(8, 133, 246, 0.6));
}

.app-items__img-container--orange {
  background: linear-gradient(225deg, #fd915e 15%, rgba(253, 145, 94, 0.6));
}

.app-items__img-container--green {
  background: linear-gradient(0deg, #37ef8d 15%, rgba(55, 239, 141, 0.6));
}

.app-items__caption {
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
}

.features {
  padding: 50px 10px;
}

.features__article {
  padding: 20px 0;
}

.features__paragraph {
  font-size: 14px;
  font-weight: 200;
}

.features__image-container {
  width: 100%;
}

.features__image {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.reviews {
  background: url(../../../images/banner/testmonial.png);
  background-size: cover;
  background-position: 50% 50%;
  color: #f2f4f4;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.reviews::before {
  background-color: rgba(8, 133, 246, 0.75);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.reviews__article {
  padding: 50px 0;
}

.reviews__paragraph {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 20px;
  text-align: center;
}

.reviews__footer {
  margin: 0 auto;
  text-align: center;
}

.reviews__footer i {
  display: inline;
  font-size: 14px;
  color: gold;
}

.footer__paragraph {
  display: inline;
  font-size: 14px;
  text-transform: uppercase;
}

.pricing {
  padding: 20px 0;
}

.pricing__paragraph {
  padding: 20px 5px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

.pricing__plans {
  margin: 0 auto;
  width: 95%;
}

.pricing__item {
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.item__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  text-transform: capitalize;
}

.item__header--blue {
  background-color: #e9f4fe;
}

.item__header--orange {
  background-color: #fef4ee;
}

.item__header--green {
  background-color: #e8fcf1;
}

.item__price {
  font-weight: 700;
}

.item__price--blue {
  color: #0885f6;
}

.item__price--orange {
  color: #fd915e;
}

.item__price--green {
  color: #37ef8d;
}

.item__list {
  padding-bottom: 20px;
  text-align: center;
}

.item__item {
  font-weight: 300;
  padding: 20px 0;
  text-transform: capitalize;
}

.download {
  background-color: #0885f6;
  padding: 70px 5px;
}

.download__icons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.download__image {
  height: 40px;
}

.detailed {
  background-color: #2c2c2c;
  color: #f2f4f4;
  padding: 30px 20px;
}

.detailed__title {
  padding-bottom: 20px;
}

.detailed__caption {
  font-size: 12px;
  font-weight: 200;
  padding-bottom: 20px;
}

.detailed__icon-container {
  background-color: #565656;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
  width: 30px;
}

.detailed__link {
  color: #f2f4f4;
}

.detailed__icon {
  vertical-align: -3px;
}
/*# sourceMappingURL=mobile.css.map */