.app-items {
    &__list {
        text-align: center;

    }

    &__item {
        padding: $standardpadding 0;
    }

    &__img-container {
        border-radius: 5px;
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100px;
        margin: 0 auto;
        width: 100px;

        &--blue {
            background: linear-gradient(45deg, $blue 5%, $darkblue);
        }

        &--orange {
            background: linear-gradient(225deg, $orange 15%, $darkorange);
        }

        &--green {
            background: linear-gradient(0deg, $green 15%, $darkgreen);
        }
    }

    &__caption {
        font-size: $big;
        font-weight: 300;
        margin: 0 auto;
        padding-top: 10px;
        width: 50%;
    }
}