.detailed {
    background-color: $black;
    color: $darkwhite;
    padding: $biggerpadding $standardpadding;

    &__title {
        padding-bottom: $standardpadding;
    }

    &__caption {
        font-size: $small;
        font-weight: 200;
        padding-bottom: $standardpadding;
    }

    &__icon-container {
        background-color: $gray;
        border-radius: 50%;
        display: inline-block;
        height: 30px;
        margin-bottom: $standardpadding;
        margin-right: $smallpadding;
        text-align: center;
        width: 30px;
    }

    &__link {
        color: $darkwhite;
        font-weight: 200;
        font-size: $small;
        text-decoration: none;

        &--icon {
            font-size: $big;
        }
    }

    &__icon {
        vertical-align: -4px;
    }

    &__title {
        font-size: $bigger;
        font-weight: 200;

        &--bold {
            font-weight: 700;
        }
    }

    &__item {
        padding: $smallpadding 0;
    }

    &__services,
    &__useful-links,
    &__downloads {
        padding-bottom: $standardpadding;
    }

}