.hero {
    background-image: url(../../images/banner/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: $standardpadding;

    &__header {
        padding: $standardpadding;
        color: $darkwhite;
    }

    &__title {
        font-weight: 300;
        text-transform: capitalize;
        padding-bottom: 10px;
    }

    &__paragraph {
        font-size: $small;
    }

    &__image {
        height: auto;
        margin: 0 auto;
        padding-top: $standardpadding;
    }

    &__phone-img {
        display: block;
        margin: 0 auto;
        // width: 90vw;
        max-width: 360px;
    }
}