.features {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: $hugepadding 0;

    &__article {
        width: 40%;
    }

    &__paragraph {
        font-size: $big;
    }

    &__image-container {
        width: 40%;
    }
}