//Font families
$font: 'Poppins',
sans-serif;
//200,300,400,700

//Colors
$black: rgb(44, 44, 44);
$blue: rgb(8, 133, 246);
$bluewhite: rgb(233, 244, 254);
$darkblue: rgba(8, 133, 246, .6);
$lightblue: rgb(106, 182, 252);
$darkwhite: rgb(242, 244, 244);
$greenish: rgb(55, 235, 237);
$green: rgb(55, 239, 141);
$greenwhite: rgb(232, 252, 241);
$gold: rgb(255, 215, 0);
$darkgreen: rgba(55, 239, 141, .6);
$orange: rgb(253, 145, 94);
$orangewhite: rgb(254, 244, 238);
$darkorange: rgba(253, 145, 94, .6);
$gray: rgb(86, 86, 86);
$blackreal: rgb(0, 0, 0);

//Paddings
$smallpadding: 10px;
$standardpadding: 20px;
$biggerpadding: 30px;
$bigpadding: 50px;
$hugepadding: 70px;
$desktoppadding: 120px;

//Sizes
$smallest: 10px;
$small: 12px;
$standard: 14px;
$big: 16px;
$bigger: 22px;
$biggest: 28px;