* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import '_var.scss';

ul {
    list-style: none;
}

body {
    font-family: $font;
}

.button {
    border: none;
    border-radius: 5px;
    font-family: $font;
    padding: 10px 26px;
    text-transform: capitalize;

    &--hero {
        color: $darkwhite;
        background-color: $greenish;
        margin: $standardpadding;
    }

    &--features {
        background-color: $blue;
        color: $darkwhite;
        margin: $biggerpadding 0px;
    }

    &__pricing {
        margin: 0 auto $bigpadding;
        background-color: transparent;
        border: 2px solid;

        &--blue {
            border-color: $darkblue;
        }

        &--orange {
            border-color: $darkorange;
        }

        &--green {
            border-color: $darkgreen;
        }
    }
}

.header__title {
    font-weight: 300;
    text-align: center;
    font-size: $bigger;

    &--reviews {
        margin-bottom: $biggerpadding;
    }

    &--download {
        color: $darkwhite;
        padding-bottom: $standardpadding;
    }
}