.features {
    padding: 0 0 $desktoppadding 0;
}

.button--features {
    border: 2px solid $blue;
    transition: .3s linear;

    &:hover {
        background-color: $darkwhite;
        color: $blue;

    }
}