.hero {
    background-image: none;
    padding-top: $standardpadding;

    &__header {
        align-self: end;
    }

    &__phone-img {
        width: 27vw;
        max-width: 550px;
    }
}

.button {
    &--hero {
        border: 2px solid $greenish;
        transition: .3s linear;

        &:hover {
            background-color: $darkwhite;
            color: $greenish;
        }
    }
}