.hero {
    background-image: none;
    padding-top: $standardpadding;

    &__header {
        align-self: end;
    }

    &__phone-img {
        height: auto;
        max-width: 500px;
    }
}

.button {
    &--hero {
        border: 2px solid $greenish;
        transition: .3s linear;

        &:hover {
            background-color: $darkwhite;
            color: $greenish;
        }
    }
}